ul{
    column-gap: 2cap;
}
 ul li{
    color: white;
 }

 .nav-item{
    font: 600;
 }
 .container{
    color: rgb(232, 238, 243);
 }

 .landing-page{
    background: url(./assert/images/IMG20221021080919.jpg) no-repeat scroll center;
    height: 100vh;
    background-size: cover;
    color:  #0b0b0a;
 }


 .section-color{
    background-color:  #ff6600;
 }

 .registration-section{
   background-color:  #ff6600;
 }
 .register{
   color: black;
   justify-content: center;
   margin: auto;
   text-align: center;
   text-shadow: 1cap;
 }

 .from-list{
   justify-content: center;
   text-align: center;
 }
 li{
   margin-top: 5%;
 }

 li input{
   box-sizing: 5px;
 }
 div .text-white{
   color: white;
 }

 .content-center{
  text-decoration: none;
  text-align: center;
 }
 .photo-img{
  height: 50%;
  width:  50%;
 }
 .color-word{
  color: #0b0b0a;
 }
.bullet{
  list-style-type: none;
}
